@model IEnumerable<Software_Requirement_Specification.Models.VaiTro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenVaiTro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeThiId)
            </th>
 
            <th>
                @Html.DisplayNameFor(model => model.TepRiengTu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaiNguyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThongBao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhanQuyen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenVaiTro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeThiId)
            </td>
     
            <td>
                @Html.DisplayFor(modelItem => item.TepRiengTu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiNguyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThongBao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhanQuyen.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
